*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}
header{
    background-color:  rgba(255, 144, 14, 0.1);
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    height: 80px;
    margin: 0 auto;
    padding: 0 25px;
}
nav ul{
    display: flex;
    list-style: none;
    gap:25px;
}
.nav-text{
    font-weight: 720;
    font-size: 45px;
    color: #131313;
}
.nav-title{
    font-weight: 510;
    font-size: 18px;
    color: #424242;
}
.banner-info{
    text-align: center;
}
.banner-sub{
    font-weight: 710;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    
}
.banner-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 18px 35px;
    margin-top: 30px;
    
}
.b-img img{
    width: 1200px;
    height: 700px;
    border-radius: 8px;
    margin-top: 50px;
}
/* features */
.feat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    
    margin: 0 auto;
}
.f-img img{
    width: 342px;
    height: 342px;
}
.feature{
    margin-top: 85px;
}
.feature-sub{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.f-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}
/* Features you will love & enjoy */
.enjoy{
    margin-top: 130px;
    
}
.bold{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;
    border-left: 4px solid #FF900E;
    padding-left: 20px;
}
.p-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.en-img img{
    width: 708px;
    height: 982px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 30px;
}
.en-info{
    display: flex;
    
    justify-content: center;
    
    

}
.en-sub1{
    width: 500px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.en-sub-text{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.en-con{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* some facts */
.some-info{
    margin-left: 200px;
}
.some-sub{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-top: 20px;
    padding-bottom: 30px;
}
.some-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    
}
.skill{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 50px 50px 50px 50px;
    
    
}
.sec-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    
    margin: 0 auto;
    
    

}
.plans{
    margin-top: 100px;
}
/* our sevices */
.service{
    background-color: #005FAC;
    height: 600px;
}

.s-index{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    padding-top: 50px;
}
.ser-text{
    text-align: center;

}
.ser-btn{
    font-weight: 100;
    font-size: 15px;

    color: #FFFFFF;
    width: 170.11px;
    height: 64px;
    background-color: #2121a7;
    border-radius: 8px;

}
/* our sponsers */
.sponsers{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
    padding-top: 50px;
}
.sp-sub{
    font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #727272;
   padding-top: 20px;
   margin-bottom: 100px;
}
.img-go{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    
    margin: 0 auto;
}
/* footer */
.foot{
    background: #FFF4E7;
    border-radius: 8px;
    width: 1250px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  
    padding: 20px 150px;
}
footer{
    margin-top: 100px;
}




/* media quaries */

@media only screen and (max-width:688px) {
    
    
    nav,nav ul{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top:10px;
    }
    .banner-info{
        margin-top: 200px;
        flex-direction: column;
        
    }
    .b-img img{
        width: 390px;

    }
    .feat, .en-info, .sec-title, .img-go{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .en-img img{
        margin: 0;
        width: 500px;
    }
    
    
    
    
   
    

    
}